@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("img/bg2.png") no-repeat;
    background-size: cover;
}
input#open{
    display: none;
}

.my-card{
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: .3s;
}
.first_page{
    position: relative;
    background-color: antiquewhite;
    width: 900px;
    height: 1000px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13),30px 0 50px
    rgba(0,0,0,0.1);
    transition: .3s;
}
.first_page:before{
    content: "";
    position: absolute;
    width: 280px;
    height: 380px;
}
.second_page{
    position: absolute;
    background-color: antiquewhite;
    width: 900px;
    height: 1000px;
    z-index: -1;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
    top: 0;
}
.second_page:before{
    content: "";
    position: absolute;
    width: 280px;
    height: 380px;
}

.open{
    position: absolute;
    width: 900px;
    height: 900px;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 6;
    cursor: pointer;
}

#open:checked ~ .first_page{
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.13),30px 0 50px
    rgba(0,0,0,0.1);
}

#open:checked ~ .first_page:before{
    z-index: 5;
}

.img{
    width: 800px;
    height: 700px;
   display: block;
    margin: 20px auto 0;
    border: 2px solid black;
}
.title{
    position: absolute;
    top: 800px;
    width: 600px;
    text-align: center;
    left: 130px;
    font-size: 50px;
    border: 2px solid black;
    font-family: 'Twinkle Star', cursive;
}
.information{
    text-align: left;
    width: 800px;
    line-height: 60px;
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Sunflower', sans-serif;
}
.mbti{
    border-bottom: 1px solid red;
}

.qa{
    font-size: 50px;
    background-color: transparent;
    text-align: center;
    margin:auto;
}
a{
    text-decoration-line : none;
    color: #000;
}
.qa:hover{
    background-color: cornflowerblue;
}













